h1 {  
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {  
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {  
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

body {  
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

.logo {
  height: 40px;
}

body.top-page {
  background: url(../images/background.jpg) center center / cover no-repeat fixed;
}

.nagoyameshi-navbar {
  background-color: #F2E6D8;
}

td {
  word-break: break-word;
}

.store-image {
  max-width: 150px;
}

.search-box {
  max-width: 360px;
}

.search-area {
  background-color: #F8F2EB;
}

.category-select {
  width: 200px;
}

.top-wrapper {
  height: 80vh;
}

.sort-box {
  max-width: 160px;
}